.drawer-header {
  height: 80px;
  width: 80%;
  background-image: url('./../assests/img/favicon_hpt.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.content {
  height: 80vh;
  background-image: url("../assests/img/Hpt-building-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}